////////////
//  変数  //
////////////



////////////
//  mixin //
////////////

@mixin pc {
    @media screen and (min-width: 960px) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: 959px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 600px) {
        @content;
    }
}

////////////
//  共通  //
////////////

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    letter-spacing: 0.07em;
    line-height: 1.6;
    font-family: adobe-clean, "adobe clean", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", serif;
}

// .item {
//     background-color: #ddd;
//     border: 3px solid #ccc;
// }

.inner {
    width: 1218px;
    margin-left: 221px;
    padding: 60px 69px;
    text-align: center;
}

.title {
    font-size: 3.6rem;
    color: #159024;
    margin-bottom: 65px;
    display: inline-block;
    &::before {
        content:'';
        width: 1em;
        height: 15px;
        display: inline-block;
        border-top: 4px solid #159024;
        margin-right: 20px;
    }
    &::after {
        @extend .title::before;
        margin-right: 0;
        margin-left: 20px;
    }
}

.title2 {
    color: #fff;
    display: inline-block;
    &::before {
        content:'';
        width: 1em;
        height: 15px;
        display: inline-block;
        border-top: 4px solid #fff;
        margin-right: 20px;
    }
    &::after {
        @extend .title::before;
        border-color: #fff;
        margin-right: 0;
        margin-left: 20px;
    }
}
